/app/config/parameters.yml
/build/
/docker-compose.yml
/inf/pro/app/docker-symfony.com
/inf/pro/web/docker-symfony.com
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
